.flex-h {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

img {
    display: block;
    max-width:250px;
    max-height:120px;
    width: auto;
    height: auto;
}


/*---------------------------------------
Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
font-style: normal;
letter-spacing: 0px;
}
    
h1 {
color: #f8d142;
font-size: 45px;
line-height: normal;
}

h2 {
color: #2b2b2b;
font-size: 20px;
line-height: 25px;
margin-top: 0px;
}

h3 {
color: #282828;
font-size: 16px;
line-height: 32px;
letter-spacing: 6px;
text-transform: uppercase;
}

h4 {
color: #089720;
font-size: 20px;
}

p {
color: #8ec0ca;
font-size: 16px;
font-weight: normal;
line-height: 25px;
letter-spacing: 0.2px;
}

.bg-grey {
background: #2b2b2b !important;
}

.white-color {
color: #f0f0f0;
}

