<!--WHO WE ARE SECTION -->
<link rel="stylesheet" href="css/home.css">
<P>
    As parents, we unwittingly embark on a journey of never ending learning when we became parents. In this journey,  
    we have so much to share and to learn. We want to connect as parents to fellow parents as we embrace the journey
    of raising up our wonderful children.
    <br>
    Join us and know that you are in company of people who want the same thing - for ourselves and our children 
    to thrive in our world. 
        
</P>

<img src="./client/images/familyday.jpg"/>
    
        
<!-- CONTACT SECTION -->
<section id="contact" class="parallax-section">
<div class="container">
    <div class="row">

    <div class="col-md-12 col-sm-12">
        <!-- SECTION TITLE -->
        <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
        <h2>Get in touch</h2>
        <p>If you have any query, please feel free to contact us</p>
        </div>
    </div>

    <div class="col-md-7 col-sm-10">
            <!-- CONTACT FORM HERE -->
        <div class="wow fadeInUp" data-wow-delay="0.4s">
        <form id="contact-form" action="#" method="get">
            <div class="col-md-6 col-sm-6">
            <input type="text" class="form-control" name="name" placeholder="Name" required="">
            </div>
            <div class="col-md-6 col-sm-6">
            <input type="email" class="form-control" name="email" placeholder="Email" required="">
            </div>
            <div class="col-md-12 col-sm-12">
            <textarea class="form-control" rows="5" name="message" placeholder="Message" required=""></textarea>
            </div>
            <div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
            <button id="submit" type="submit" class="form-control" name="submit"><a href="mailto:kel.pat@gmail.com" class="link-btn">Send Message</a></button>
            </div>
        </form>
        </div>
    </div>

    <div class="col-md-5 col-sm-8">
        <!-- CONTACT INFO -->
        <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
        <div class="section-title">
            <h2>Contact Info</h2>
            <p>Central Christian Church</p>
        </div>
        
        <p><i class="fa fa-map-marker"></i> 1 Edgefield Walk, Singapore 828850</p>
        <p><i class="fa fa-comment"></i> <a href="mailto:info@seachurches.org">info@seachurches.org</a></p>
        <p><i class="fa fa-phone"></i> 6343 8462</p>
        </div>
    </div>

    </div>
</div>
</section>


<!-- FOOTER SECTION -->
<footer>
<div class="container">
<div class="row">

    <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.8s">
    <p class="white-color">Copyright &copy; 2017 Central Christian Church 
    | Parent Ministry</p>
    <div class="wow fadeInUp" data-wow-delay="1s">
        <ul class="social-icon">
            <a href="https://www.facebook.com/thestraitsconnectionccc/" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="https://cccsg.org/" class="fa fa-globe"></a>
        </ul>
    </div>
</div>
</div>
</footer>
