<body ng-cloak="true">
<div class="col-sm-2 col-lg-4"></div>
        <div class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration !</h1>
        <form ng-show="!ctrl.isSubmitted" name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
                <div class="form-group">
                <label for="firstName">Common Name</label> 
                <input id="firstName" name="firstName" type="text" placeholder="Adam" class="form-control" ng-model="ctrl.user.firstName" ng-keypress="ctrl.user.newfirstName = ctrl.user.firstName.toUpperCase()"/>
        </div>

        <div class="form-group">
                <label for="lastName">Family Name</label> 
                <input id="lastName" name="lastName" type="text" placeholder="Tan" class="form-control" ng-model="ctrl.user.lastName" ng-keypress="ctrl.user.newlastName = ctrl.user.lastName.toUpperCase()"/>
        </div>

        <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                        <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" placeholder="something secret" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                        </div>
                        <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                <span class="glyphicon glyphicon-alert"></span> Password do not match
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M"/>Male
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" ng-checked="true"/>Female
        </div>

        <div class="form-group">
                <label for="nationality">Nationality</label>
                <input id="nationality" name="nationality" type="text" placeholder="Singaporean" class="form-control" ng-model="ctrl.user.nationality" ng-keypress="ctrl.user.newnationality = ctrl.user.nationality.toUpperCase()"/>
        </div>
        
        <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input id="contactNumber" name="contactNumber" type="number" placeholder="local contact only" class="form-control" ng-model="ctrl.user.contactNumber" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.number">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number should be 8 digit
                        </div>
                </div>
        </div>

        <div class="form-group">
        <label for="pCode">Which Area do you Stay?</label>
        <input id="pCode" name="pCode" type="number" placeholder="postal code" class="form-control" ng-model="ctrl.user.pCode" required/>
        <div class="validation" data-ng-show="ctrl.registrationform.pCode.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.pCode.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Postal Code is required
                </div>
                <div data-ng-show="ctrl.registrationform.pCode.$error.number">
                        <span class="glyphicon glyphicon-alert"></span> Postal Code should be 6 digit
                </div>
        </div>
        </div>

        <div class="form-group">
                <label for="category">Which category are you interested in?</label>
                <br/>
                <select ng-model="ctrl.user.selectedCategory" class="form-control" id="category">
                <option ng-repeat="category in ctrl.categories" value="{{category.value}}">{{category.name}}</option>
                </select>
        </div>

        <div class="form-group">
                <hr/>
                <input id="submit" name"submit" type="submit" class="btn btn-success" ng-disabled="ctrl.registrationform.$invalid"/>
                <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
        </div>
                
        </form>

        <!--<div data-ng-controller="RegisteredCtrl as ctrl2" data-ng-show="ctrl.isSubmitted"> THANK YOU ! {{ctrl2.fullname}}</div>-->