 <div class="container">
    <form name="ctrl.eventform" class="form-horizontal form-addEvent">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.event.title" class="form-control" id="title" name="title" placeholder="Title of Event" required>
                <div class="validation" data-ng-show="ctrl.eventform.title.$touched || ctrl.eventform.$submitted">
                    <div data-ng-show="ctrl.eventform.title.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Title of Event is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="article">Description of Event </label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.event.article" class="form-control" id="article" name="article" required>
                <div class="validation" data-ng-show="ctrl.eventform.article.$touched || ctrl.eventform.$submitted">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="venue">Event Venue</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.event.venue" class="form-control" id="venue" name="venue" required>
                <div class="validation" data-ng-show="ctrl.eventform.venue.$touched || ctrl.eventform.$submitted">
                    <div data-ng-show="ctrl.eventform.venue.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Event venue is required
                    </div>
                </div>
            </div>    
        </div>

        <div class="form-group">
            <label for="pCode">Postal Code</label>
            <input id="pCode" name="pCode" type="number" placeholder="postal code" class="form-control" ng-model="ctrl.user.pCode" required/>
            <div class="validation" data-ng-show="ctrl.eventform.pCode.$touched || ctrl.eventform.$submitted">
                    <div data-ng-show="ctrl.eventform.pCode.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Postal Code is required
                    </div>
                    <div data-ng-show="ctrl.eventform.pCode.$error.number">
                            <span class="glyphicon glyphicon-alert"></span> Postal Code should be 6 digit
                    </div>
            </div>
            </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="eventate">Event Date </label>
            <div class="col-sm-6">
                    <p class="input-group">
                    <input id="eventate" name="eventate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.employee.birth_date" ng-pattern="ctrl.datePattern" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    
                    <div class="validation" data-ng-show="ctrl.eventform.eventate.$touched || ctrl.eventform.$submitted">
                        <div data-ng-show="ctrl.eventform.eventate.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>Event Date is required
                        </div>
                        <div data-ng-show="ctrl.eventform.eventate.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Event Date is invalid
                            </div>
                    </div>
            </div>
        </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="eventTime">Event Time</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="ctrl.event.article" class="form-control" id="article" name="article" required>
                    <div class="validation" data-ng-show="ctrl.eventform.article.$touched || ctrl.eventform.$submitted">
                        <span class="glyphicon glyphicon-alert"></span> Event Time is required
                    </div>
                </div>    
            </div>
    
            <div class="form-group">
            <label class="control-label col-sm-2" for="pdfurl">Upload Invite PDF</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.event.pdfurl" class="form-control" id="pdfurl" name="pdfurl" placeholder="PDF Invite..">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.eventform.$invalid" ng-click="ctrl.saveEvent()">Save</button>
            </div>
        </div>
    
    </form>
</div> 