<body ng-cloak ng-controller="EventCtrl as ctrl">
    <div class="container">
        <div><h2>Here's a snapshot of what is happening this month</h2>
        </div>
        <div class="jumbotron">
                <form name="ctrl.searchForm" ng-submit="ctrl.searchEvents()">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="e.g. Lantern Festival"/>
                        <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                        </span>
                        <div class="col-lg-6">
                            <select ng-model="ctrl.orderby" class="form-control">
                                <option value="" disabled selected>Sort by</option>
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <hr/>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" ng-click="ctrl.addEvent('lg')" class="btn btn-primary">Add</button> <!--add authentication in this button-->
                    </div>
                </form>
        </div>
        
        <div class="list" ng-show="ctrl.events">
            <div class="row" ng-show="ctrl.events.length > 0">
                <div class="list header col-lg-12 col-md-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" items-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize" boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 event" ng-repeat="event in ctrl.events">
                    <h4><a href="#" class="thumbnail" ><img src="{{event.Pdfurl}}"/></a></h4>
                    <h4><label>Title: </label> {{event.title}}</h4>
                    <h4><label>Description: </label> {{event.article}}</h4>
                    <h4><label>Venue: </label> {{event.venue}}</h4>
                    <h4><label>Postal Code: </label> {{event.pCode}}</h4>
                    <h4><label>Event Date: </label> {{event.event_Date}}</h4>
                    <h4><label>Event Time: </label> {{event.event_Time}}</h4>
                    <h4>
                        <button type="button" ng-click="ctrl.editEvent(event.emp_no, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button type="button" ng-click="ctrl.deleteEvent(event.emp_no, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
</body>





<!--<div><h3>Just a glimpse of the last month events ...</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 event" ng-repeat="event in ctrl.events">
            <h4><label>Event Title: </label> {{event.title}}</h4>
            <h4><a href="#" class="thumbnail" ><img src="{{event.url}}"/></a></h4>
            <h4><label>Event Photos: </label> {{event.url}}</h4>
            <h4> {{event.url}}</h4>
        </div>
    </div>
</div>-->